/* Modified from https://github.com/Robinhuett/dotfiles/blob/master/.config/waybar/style.css */
* {
    border:        none;
    border-radius: 0;
    font-family:   sans;
    font-size:     10pt;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.00);
}

window#waybar {
    border-bottom: 1px solid rgba(100, 114, 125, 0.5);
}

window#waybar.solo {
    color:      rgba(217, 216, 216, 1);
    background: rgba(35, 31, 32, 0.85);
}

#workspaces, #mode {
    margin: 0 5px;
}

#workspaces button {
    padding:    0 5px;
    color:      rgba(217, 216, 216, 0.6);
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    border-top: 3px solid rgba(217, 216, 216, 1);
    border-bottom: 3px solid rgba(217, 216, 216, 0);
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#tray {
    margin:     0px 6px 0px 0px;
}

#clock {
    margin:     0px 15px 0px 0px;
}

#idle_inhibitor {
    margin:     0px 15px 0px 10px;
}

#battery, #cpu, #memory, #temperature, #network, #pulseaudio, #backlight, #custom-storage, #custom-mail {
    margin:     0px 5px 0px 0px;
}

#custom-spotify, #custom-weather {
    margin:     0px 15px 0px 0px;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}
